<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div id="sidebar" class="min-h-screen w-24 md:w-64 bg-green-500 overflow-y-auto" th:fragment="sidebar">

        <!-- Sidebar Header -->
        <div class="h-20 flex justify-center items-center">
            <div>
                <svg class="h-12 w-12 fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M18 4l2 4h-3l-2-4h-2l2 4h-3l-2-4H8l2 4H7L5 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4h-4z" />
                </svg>
            </div>
            <div class="hidden md:block text-2xl text-white mx-4">Admin</div>
        </div>
        <hr>

        <div class="bg-green-500 hover:bg-green-700 p-3">
            <a class="flex flex-col justify-center md:justify-start items-center md:flex-row" href="/admin/dashboard" th:href="@{/admin/dashboard}">
                <svg class="h-5 w-5 fill-current text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z" />
                </svg>
                <span class="text-gray-300 text-xs sm:text-sm md:text-base ml-0 md:ml-3 mt-1 md:mt-0">Dashboard</span>
            </a>
        </div>
        <div class="bg-green-500 hover:bg-green-700 p-3">
            <a class="flex flex-col justify-center md:justify-start items-center md:flex-row" href="/admin/roles"
                th:href="@{/admin/roles}">
                <svg class="h-5 w-5 fill-current text-gray-300" xmlns="http://www.w3.org/2000/svg"
                    enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                    <g>
                        <rect fill="none" class="h-5 w-5" />
                    </g>
                    <g>
                        <g>
                            <path
                                d="M17,11c0.34,0,0.67,0.04,1,0.09V6.27L10.5,3L3,6.27v4.91c0,4.54,3.2,8.79,7.5,9.82c0.55-0.13,1.08-0.32,1.6-0.55 C11.41,19.47,11,18.28,11,17C11,13.69,13.69,11,17,11z" />
                            <path
                                d="M17,13c-2.21,0-4,1.79-4,4c0,2.21,1.79,4,4,4s4-1.79,4-4C21,14.79,19.21,13,17,13z M17,14.38c0.62,0,1.12,0.51,1.12,1.12 s-0.51,1.12-1.12,1.12s-1.12-0.51-1.12-1.12S16.38,14.38,17,14.38z M17,19.75c-0.93,0-1.74-0.46-2.24-1.17 c0.05-0.72,1.51-1.08,2.24-1.08s2.19,0.36,2.24,1.08C18.74,19.29,17.93,19.75,17,19.75z" />
                        </g>
                    </g>
                </svg>
                <span class="text-gray-300 text-xs sm:text-sm md:text-base ml-0 md:ml-3 mt-1 md:mt-0">Roles</span>
            </a>
        </div>
        <div class="bg-green-500 hover:bg-green-700 p-3">
            <a class="flex flex-col justify-center md:justify-start items-center md:flex-row" href="/admin/permissions"
                th:href="@{/admin/permissions}">
                <svg class="h-5 w-5 fill-current text-gray-300" xmlns="http://www.w3.org/2000/svg"
                    enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                    <g>
                        <rect fill="none" class="h-5 w-5" />
                    </g>
                    <g>
                        <g>
                            <path
                                d="M17,11c0.34,0,0.67,0.04,1,0.09V6.27L10.5,3L3,6.27v4.91c0,4.54,3.2,8.79,7.5,9.82c0.55-0.13,1.08-0.32,1.6-0.55 C11.41,19.47,11,18.28,11,17C11,13.69,13.69,11,17,11z" />
                            <path
                                d="M17,13c-2.21,0-4,1.79-4,4c0,2.21,1.79,4,4,4s4-1.79,4-4C21,14.79,19.21,13,17,13z M17,14.38c0.62,0,1.12,0.51,1.12,1.12 s-0.51,1.12-1.12,1.12s-1.12-0.51-1.12-1.12S16.38,14.38,17,14.38z M17,19.75c-0.93,0-1.74-0.46-2.24-1.17 c0.05-0.72,1.51-1.08,2.24-1.08s2.19,0.36,2.24,1.08C18.74,19.29,17.93,19.75,17,19.75z" />
                        </g>
                    </g>
                </svg>
                <span class="text-gray-300 text-xs sm:text-sm md:text-base ml-0 md:ml-3 mt-1 md:mt-0">Permissions</span>
            </a>
        </div>
    </div>
</body>

</html>